{{#section 'style'}}
    <link rel='stylesheet' href='/css/category.css' />
{{/section}}

<div class='content container mt-4'>
    <div class='row'>
        <div class='col-lg-3 mb-lg-0 mb-2'>
            <p>
                <a
                    id='btnAllCategories'
                    class='btn btn-primary w-100 d-flex align-items-center justify-content-between'
                    data-bs-toggle='collapse'
                    href='#collapseCategory'
                    role='button'
                    aria-expanded='true'
                    aria-controls='collapseCategory'
                >
                    <span class='fas fa-bars'><span class='ps-3'>All Categories</span></span>
                    <span class='fas fa-chevron-down'></span>
                </a>
            </p>
            <div class='collapse show border' id='collapseCategory'>
                <ul class='list-unstyled'>
                    <li><a class='dropdown-item' href='/category/0'>Tất cả</a></li>
                    {{#each categories}}
                        <li><a class='dropdown-item' href='/category/{{this._id}}'>{{this.name}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class='col-lg-9 packages pt-3 pb-3 mb-5'>
            <div class='d-lg-flex ms-4 mb-3'>
                <form class='d-flex mb-2'>
                    <div class='me-md-auto pe-md-3 d-flex align-items-center'>
                        <div class='input-group input-group-outline'>
                            <label class='form-label'>
                                Tìm kiếm
                            </label>
                            <input type='text' class='form-control navbar-search-field search-input' name='package' />
                            <button class='btn btn-search'>
                                <i class='fas fa-xl fa-search search-icon'></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class='row row-cols-lg-3 row-cols-md-2 row-cols-1 gy-5'>
                {{#each packages}}
                    <div>
                        <div class='card p-3 mx-4'>
                            <div class='card-img'>
                                <img src={{this.image}} class='popular-package-img' />
                            </div>
                            <div class='card-body p-0'>
                                <h5 class='card-title py-3'>{{this.name}}</h5>
                                <div class='d-flex justify-content-between align-items-center'>
                                    <div class='price'>
                                        <span>
                                            <strong>
                                                {{this.defaultPrice}}
                                                <i class='fa-solid fa-dong-sign'></i>
                                            </strong>
                                        </span>
                                    </div>
                                    <a href={{append '/package/' this._id}} class='btn btn-primary m-0'>Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

{{#section 'script'}}{{/section}}