{{#section 'style'}}
    <link rel='stylesheet' href='/css/home.css' />
{{/section}}

<div class='content'>
    <div class='intro py-5'>
        <div class='container intro-container'>
            <div class='row'>
                <div class='col-lg-6 col-md-6 col-12 d-flex align-items-center'>
                    <div>
                        <h1 class='intro-title mt-lg'>Cùng nhau chung tay đánh bay Covid !!</h1>
                        <p class='intro-description'>
                            Năm 2021, đối mặt với dịch Covid, việc học trực tuyến ngày càng đóng vai trò quan trọng
                            trong nền giáo dục...
                        </p>
                    </div>
                </div>
                <div class='intro-img col-lg-6 col-md-6 col-12 d-flex justify-content-center align-items-center'>
                    <img src='/img/home/intro.png' alt='intro-img' class='img-fluid' />
                </div>
            </div>
        </div>
    </div>
    <div class='list-category py-5'>
        <div class='container list-category-container'>
            <h1 class='text-center fw-bold mb-5'>Tất cả danh mục</h1>
            <div class='row row-cols-lg-4 row-cols-md-3 row-cols-2 gx-5'>
                {{#each categories}}
                    <a href="/category/{{this._id}}">
                    <div class='col'>
                        <div class='category-item'>
                            <div class='category-item-img'>
                                <img src={{this.image}} alt='' class='img-fluid' />
                            </div>
                            <div class='category-item-name'>{{this.name}}</div>
                        </div>
                    </div>
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
    <div class='popular-package py-5'>
        <div class='container'>
            <h1 class='popular-package-title mb-5'>Gói sản phẩm phổ biến</h1>
            <div class='container my-3'>
                <div class='row mx-auto my-auto justify-content-center'>
                    <div id='recipeCarousel' class='carousel slide' data-bs-ride='carousel'>
                        <div class='carousel-inner' role='listbox'>
                            {{#each packages}}
                            <div class='carousel-item active'>
                                <div class='col-lg-3 col-md-6 col-12'>
                                    <div class='card p-3 mx-4'>
                                        <div class='card-img'>
                                            <img src={{this.image}} class='popular-package-img' />
                                        </div>
                                        <div class='card-body p-0'>
                                            <h5 class='card-title py-3'>{{this.name}}</h5>
                                            <div class='d-flex justify-content-between align-items-center'>
                                                <div class='price'>
                                                    <span>
                                                        <strong>
                                                            {{this.defaultPrice}}
                                                            <i class='fa-solid fa-dong-sign'></i>
                                                        </strong>
                                                    </span>
                                                </div>
                                                <a href={{append '/package/' this._id}} class='btn btn-primary m-0'>Chi tiết</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <a
                            class='carousel-control-prev rounded-circle'
                            href='#recipeCarousel'
                            role='button'
                            data-bs-slide='prev'
                        >
                            <i class='fa fa-chevron-left carousel-control-prev-icon-custom'></i>
                        </a>
                        <a
                            class='carousel-control-next rounded-circle'
                            href='#recipeCarousel'
                            role='button'
                            data-bs-slide='next'
                        >
                            <i class='fa fa-chevron-right carousel-control-next-icon-custom'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'script'}}
    <script>
        let items = document.querySelectorAll(".carousel .carousel-item"); items.forEach((el) => { const minPerSlide =
        4; let next = el.nextElementSibling; for (var i = 1; i < minPerSlide; i++) { if (!next) { next = items[0]; } let
        cloneChild = next.cloneNode(true); el.appendChild(cloneChild.children[0]); next = next.nextElementSibling; } });
    </script>
   
{{/section}}