<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/5e369d8acd.js" crossorigin="anonymous"></script>

    <!-- Google font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap" rel="stylesheet">
    {{>link}}
    {{{_sections.title}}}
    {{{_sections.style}}}

</head>

<body>
    <div>
        {{> sidebar}}
        <div class="main-content">
            {{> navbar}}
            <div class="container">
                {{{body}}}
            </div>
        </div>
        {{>pluginShow}}

    </div>
    {{>script}}
    {{{_sections.script1}}}
    {{{_sections.script2}}}
</body>

</html>