<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl py-2" id="navbarBlur"
  navbar-scroll="true">
  <div class="container-fluid py-1 px-3">

    {{>breadcrumb}}
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="me-md-auto pe-md-3 d-flex align-items-center">
        <div class="input-group input-group-outline">
          <label class="form-label">
            Tìm kiếm
          </label>
          <input type="text" autocomplete="false" class="form-control navbar-search-field" />
          <button class="btn btn-search">
            <i class="fas fa-xl fa-search search-icon"></i>
          </button>
        </div>
      </div>
      <ul class="navbar-nav justify-content-between">
        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </a>
        </li>
        <li class="nav-item dropdown pe-2 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa fa-lg fa-bell cursor-pointer"></i>
            <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
              {{#each announces}}
              <li class="mb-2">
                <a class="dropdown-item border-radius-md" href="javascript:;">
                  <div class="d-flex py-1">
                    <div class="my-auto">
                      <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>
                          credit-card
                        </title>
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                            <g transform="translate(1716.000000, 291.000000)">
                              <g transform="translate(453.000000, 454.000000)">
                                <path class="color-background"
                                  d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z"
                                  opacity="0.593633743"></path>
                                <path class="color-background"
                                  d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z">
                                </path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </svg>
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="text-sm font-weight-normal mb-1">
                        <span class="font-weight-bold">{{this.header}}</span>
                        <span>{{this.content}}</span>
                      </h6>
                      <p class="text-xs text-secondary mb-0">
                        <i class="fa fa-clock me-1"></i>
                        1 day ago
                      </p>
                    </div>
                  </div>
                </a>
              </li>
              {{/each}}
            </ul>
          </a>
        </li>
        <li class="nav-item px-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0">
            <i class="fa-solid fa-gear fixed-plugin-button-nav cursor-pointer fa-xl"></i>
          </a>
        </li>
        <li class="nav-item dropdown dropdown-slide">
          <a class="nav-link dropdown-toggle btn" href="#" aria-haspopup="true" role="button" id="dropdownMenuLink"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span class="d-sm-inline d-none">
              Hi, {{user.displayName}}
            </span>
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar" class="avatar">
          </a>
          <!-- Dropdown list -->
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/">Trang chủ</a></li>
            {{#each hyperlinks}}
            <li><a class="dropdown-item" href="{{href}}">{{label}}</a></li>
            {{/each}}
            <li><button class="dropdown-item" onclick="signout()">Đăng xuất</button></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

{{#section "script2"}}
<script type="text/javascript" src="/js/view/logout.js"></script>
{{/section}}