<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>link}}
    {{{_sections.title}}}
    {{{_sections.style}}}
</head>
<body >
        <div>
           {{> sidebar}}
            <div class="main-content">
                {{> navbar}}
                <div class="container w-100 body-content bg-gray-200 p-4">
                    {{{body}}}
                </div>
            </div>
            {{>pluginShow}}
           
        </div>
        
        {{> script}}
        {{{_sections.script}}}
        {{{_sections.script2}}}
</body>
</html>