{{#section "title"}}
  <title>
    Lịch sử mua hàng
  </title>
{{/section}}
{{#section "style"}}
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link
    rel="stylesheet"
    href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css"
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
{{/section}}
<div id="content-paymentHistory">
  <div class="col-md-12 p-0">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title p-3">
          Lịch sử mua hàng
        </h4>
      </div>
      <div class="card-body">
        <div class="table-responsive p-2">
          <table class="table table-hover" id="data_table">
            <thead class="text-primary">
              <tr>
                <th>
                  Tên sản phẩm
                </th>
                <th class="text-right">
                  Số lượng
                </th>
                <th class="text-center">
                  Tổng tiền
                </th>
                <th class="text-center">
                  Phương thức thanh toán
                </th>
                <th class="text-center">
                  Ngày
                </th>
                <th class="text-center">
                  Khác
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each ordersOfUser}}
                <tr>
                  <td>
                    {{this.package.name}}
                  </td>
                  <td>
                    {{this.quantity}}
                  </td>
                  <td class="text-center">
                    {{formatVietnameseCurrency this.totalPrice}}
                  </td>
                  <td class="text-center">
                    {{#ifCondition this.paymentMethod "==" "cash"}}
                      Tiền mặt
                    {{else}}
                      Tài khoản thanh toán
                    {{/ifCondition}}
                  </td>
                  <td class="text-center">
                    {{this.orderTime}}
                  </td>
                  <td class="text-center">
                    <button class="btn btn-success">
                      <a
                        style="color: white"
                        href="/user/{{{this.user}}}/paymentHistory/order/{{{this._id}}}"
                      >
                        Xem đơn hàng
                      </a>
                    </button>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{{#section "script"}}
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script
    type="text/javascript"
    src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"
  ></script>
  <script>
    $(document).ready(function () {
        $('#data_table').DataTable();
    });
  </script>
{{/section}}