{{#section "title"}}
<title>
  Quản lý danh mục
</title>
{{/section}}

<div id="category-management">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">
        Danh sách danh mục
      </h2>
    </div>
    <div class="card-body">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCategoryModal"
        onclick="handleCategoryModal(null, 'add-category')">
        <i class="fa-solid fa-plus"></i>
        Thêm danh mục
      </button>
      <div class="table-responsive py-3">
        <table class="table table-hover" id="data_table">
          <thead class="text-primary">
            <tr>
              <th>
                No.
              </th>
              <th>
                Tên danh mục
              </th>
              <th class="text-center">
                Hình ảnh
              </th>
              <th class="text-end">
                Thao tác
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each categories}}
            <tr>
              <td>
                {{inc @index}}
              </td>
              <td>
                {{this.name}}
              </td>
              <td class="text-center">
                <img src={{or this.image "/img/default.png" }} alt="category" class="rounded"
                  style="width: 55px; height: 55px">
              </td>
              <td class="text-end">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#updateCategoryModal"
                  onclick="handleCategoryModal({{{json this}}}, 'update-category')">
                  Sửa
                </button>
                <button class="btn btn-danger" data-id="{{@index}}" data-bs-toggle="modal"
                  data-bs-target="#deleteCategoryModal"
                  onclick="handleCategoryModal({{{json this}}}, 'delete-category')">
                  Xóa
                </button>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{{! Modal add category }}
<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Thêm danh mục
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="form-add-category" onsubmit="event.preventDefault(); handleAddCategory();">
          <div class="form-group">
            <label>
              Tên danh mục
            </label>
            <span class="text-danger">
              *
            </span>
            <input type="text" class="form-control" id="category-name" name="name" required />
          </div>

          <div class="form-group mt-2">
            <label class="control-label">
              Hình ảnh
            </label>
            <span class="text-danger">
              *
            </span>
            <input class="form-control" name="image" accept="image/*" id="category-image" type="file" required />
          </div>

          <div class="modal-footer px-0 border-0">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Hủy
            </button>
            <button type="submit" class="btn btn-primary">
              Thêm mới
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{! Modal update category }}
<div class="modal fade" id="updateCategoryModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Chỉnh sửa danh mục
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="form-update-category" onsubmit="event.preventDefault(); handleUpdateCategory();">
          <input name="id" id="category-id" hidden>
          <div class="form-group">
            <label>
              Tên danh mục
            </label>
            <span class="text-danger">
              *
            </span>
            <input type="text" class="form-control" id="category-name" name="name" required />
          </div>

          <div class="form-group mt-2">
            <label class="control-label">
              Hình ảnh
            </label>
            <input class="form-control" name="image" accept="image/*" id="category-image" type="file" />
          </div>

          <div class="modal-footer px-0 border-0">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Hủy
            </button>
            <button type="submit" class="btn btn-primary">
              Lưu thay đổi
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{! Modal delete category }}
<div class="modal fade" id="deleteCategoryModal" tabindex="-1" aria-labelledby="deleteCategoryModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">
          Xóa danh mục
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="form-delete-category" onsubmit="event.preventDefault(); handleDeleteCategory();">
        <input type="text" name="id" id="category-id" hidden>
        <div class="modal-body">
          Bạn chắc chắn muốn xóa danh mục này?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Hủy
          </button>
          <button type="submit" class="btn btn-danger">
            Xóa bỏ
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{{#section "script"}}
<script>
  $(document).ready(function () {
    $('#data_table').DataTable();
  });
</script>
<script type="text/javascript" src="/js/custom/modal.js"></script>
<script type="text/javascript" src="/js/handler/manager/category.js"></script>
{{/section}}