{{#section "title"}}
<title>
  Thông tin nhu yếu phẩm
</title>
{{/section}}

<form id="form-update-product" class="card mb-4" onsubmit="event.preventDefault(); handleUpdateProduct();">
  <div class="card-header">
    <div class="card-title">
      <h2>
        Thông tin nhu yếu phẩm
      </h2>
    </div>
  </div>
  <div class="card-body">
    <input type="text" value="{{product._id}}" name="id" id="registerId" hidden>
    <div class="row mb-3">
      <div class="col-12 col-sm-6 form-group">
        <label class="control-label" for="registerName">
          Tên nhu yếu phẩm
          <span class="text-danger">
            *
          </span>
        </label>
        <input class="form-control" name="name" id="registerName" type="text" value="{{product.name}}" required />
      </div>
      <div class="col-12 col-sm-6 form-group">
        <label class="control-label" for="registerPrice">
          Đơn giá (đ)
          <span class="text-danger">
            *
          </span>
        </label>
        <input min="1000" class="form-control" name="price" id="registerPrice" type="number" value="{{product.price}}"
          required />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-sm-6 form-group">
        <label class="control-label" for="registerUnit">
          Đơn vị
          <span class="text-danger">
            *
          </span>
        </label>
        <input class="form-control" name="unit" id="registerUnit" type="text" value="{{product.unit}}" required />
      </div>
      <div class="col-12 col-sm-6 form-group">
        <label class="control-label" for="registerCategory">
          Danh mục
          <span class="text-danger">
            *
          </span>
        </label>
        <select class="form-select" name="category" id="registerCategory" required>
          {{#select product.category}}
          {{#each categories}}
          <option value="{{this._id}}">
            {{this.name}}
          </option>
          {{/each}}
          {{/select}}
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="form-group">
        <label class="control-label" for="registerDescription">Mô tả</label>
        <textarea class="form-control" id="registerDescription" rows="3">{{product.description}}</textarea>
      </div>
    </div>
    <div class="row mb-3">
      <div class="form-group">
        <label class="control-label" for="registerImages">
          Hình ảnh (Thêm vào danh sách hình ảnh sẵn có)
        </label>
        <input class="form-control" name="images" id="registerImages" accept="image/*" id="images" type="file"
          multiple />
      </div>
    </div>
    <div class="row">
      <h5>Danh sách hình ảnh</h5>
      <div class="d-flex flex-row flex-wrap">
        {{#each product.images}}
        <div class="pe-2 pb-2" style="height: 150px">
          <img class="rounded img-contain img-thumbnail" src={{or this "/img/default.png" }} alt="necessary" />
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="card-footer mx-auto">
    <button type="button" class="btn btn-secondary mx-2" onclick="goBack()">
      Quay về
    </button>
    <button type="submit" class="btn btn-primary mx-2">
      Cập nhật
    </button>
  </div>
</form>

{{#section "script"}}
<script type="text/javascript" src="/js/handler/manager/product.js"></script>
<script>
  function goBack() {
    window.history.back();
  }
</script>
{{/section}}