{{#section "title"}}
<title>
  Lịch sử được quản lý của {{patient.displayName}}
</title>
{{/section}}
{{#section "style"}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css"
  crossorigin="anonymous" referrerpolicy="no-referrer" />
{{/section}}
<div id="content-managementHistory">
  <div class="col-md-12 p-0">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title p-3">
          Lịch sử được quản lý của {{patient.username}}
        </h2>
      </div>
      <div class="card-body">
        <div class="table-responsive p-2">
          <table class="table table-hover" id="data_table_action">
            <thead class="text-primary">
              <tr>
                <th>
                  No.
                </th>
                <th>
                  Hành động
                </th>
                <th class="text-center">
                  Ngày
                </th>
                <th class="text-center">
                  Mô tả
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each managementHistory}}
              <tr>
                <td>
                  {{inc @index}}
                </td>
                <td>
                  {{this.action}}
                </td>
                <td class="text-center">
                  {{date this.time}}
                </td>
                <td class="text-center">
                  {{this.description}}
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <div class="card mt-5">
      <div class="card-header">
        <h2 class="card-title p-3">
          Danh sách người liên quan với {{patient.username}}
        </h2>
      </div>
      <div class="card-body">
        <div class="table-responsive p-2">
          <table class="table table-hover" id="data_table_relate">
            <thead class="text-primary">
              <tr>
                <th>
                  ID
                </th>
                <th>
                  Username
                </th>
                <th>
                  Họ tên
                </th>
                <th>
                  Địa chỉ
                </th>
                <th class="text-center">
                  Trạng thái
                </th>
                <th class="text-end">
                  Thao tác
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each relatedUsers}}
              <tr>
                <td>
                  {{this._id}}
                </td>
                <td>
                  {{this.username}}
                </td>
                <td>
                  {{this.displayName}}
                </td>
                <td>
                  {{ get this.address 'province'}}
                </td>
                <td class="text-center">
                  {{this.state}}
                </td>
                <td class="text-end">
                  <a href="/manager/patient-management/{{this._id}}/history">
                    <button class="btn btn-info">
                      Lịch sử
                    </button>
                  </a>
                  <a href="/manager/patient-management/{{this._id}}">
                    <button class="btn btn-success">
                      Chi tiết
                    </button>
                  </a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{{#section "script"}}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script>
  $(document).ready(function () {
    $('#data_table_action').DataTable();
    $('#data_table_relate').DataTable();
  });
</script>
{{/section}}