{{#section "title"}}
<title>
    Quản lý bệnh nhân
</title>
{{/section}}
<div id="patient-management">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">
                Danh sách bệnh nhân
            </h2>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <a href="/manager/patient-management/new">
                    <button class="btn btn-primary">
                        <i class="fa-solid fa-plus"></i>
                        Thêm bệnh nhân
                    </button>
                </a>
            </div>
            <div class="table-responsive py-3 table-view">
                <table class="table table-hover" id="data_table">
                    <thead class="text-primary">
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Username
                            </th>
                            <th>
                                Họ tên
                            </th>
                            <th>
                                Địa chỉ
                            </th>
                            <th class="text-center">
                                Trạng thái
                            </th>
                            <th class="text-end">
                                Thao tác
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each patients}}
                        <tr>
                            <td>
                                {{this._id}}
                            </td>
                            <td>
                                {{this.username}}
                            </td>
                            <td>
                                {{this.displayName}}
                            </td>
                            <td>
                                {{ get this.address 'province'}}
                            </td>
                            <td class="text-center">
                                {{this.state}}
                            </td>
                            <td class="text-end">
                                <a href="/manager/patient-management/{{this._id}}/history">
                                    <button class="btn btn-info">
                                        Lịch sử
                                    </button>
                                </a>
                                <a href="/manager/patient-management/{{this._id}}">
                                    <button class="btn btn-success">
                                        Chi tiết
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="patient-card"></div>
<div class="patient-statistics pt-4">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">
                Thống kê số lượng bệnh nhân theo thời gian
            </h2>
        </div>
        <div class="card-body">
            <canvas id="patientStatistics"></canvas>
        </div>
    </div>
</div>

{{! Modal delete patient }}
<div class="modal fade" id="deletePatientModal" tabindex="-1" aria-labelledby="deletePatientModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">
                    Xóa bệnh nhân
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form-delete-patient" onsubmit="event.preventDefault(); handleDeletePatient();">
                <input type="text" name="id" id="patient-id" hidden>
                <div class="modal-body">
                    Bạn chắc chắn muốn xóa bệnh nhân này?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Hủy
                    </button>
                    <button type="submit" class="btn btn-danger">
                        Xóa bỏ
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{{#section "script"}}
<script>
    $(document).ready(function () {
        $('#data_table').DataTable();
    });
</script>
<script src="/js/custom/modal.js"></script>
<script src="/js/handler/manager/patient.js"></script>
<script src="/js/custom/cardPagination.js"></script>
<script src="/js/handler/manager/statistics.js"></script>
<script>
    fetchStatistics("patient");
</script>
{{/section}}